@page "/addname"
@using NameApp.Shared
@using System.Net
@inject HttpClient Http
@inject NavigationManager navManager


<h3>AddName</h3>
<hr />
<EditForm Model="nimi" OnValidSubmit="@CreateName">
    <DataAnnotationsValidator/>
    <ValidationSummary />
    <h5 style="@messageStyle">@nameExistsError</h5>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Nimi" class="control-label">Name</label>
                <input form="Nimi" class="form-control" @bind="nimi.Nimi" />
                <ValidationMessage For="@(() => nimi.Nimi)" />
            </div>
            <div class="form-group">
                <label for="Nimi" class="control-label">Amount</label>
                <input form="Nimi" class="form-control" @bind="nimi.Amount" />
                <ValidationMessage For="@(() => nimi.Amount)" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="button" class="btn btn-warning" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    private Name nimi = new();
    private string nameExistsError;
    private string messageStyle = "visibility:hidden";


    protected async Task CreateName()
    {
        var response = await Http.PostAsJsonAsync<Name>("api/Names", nimi);

        if (response.StatusCode == HttpStatusCode.BadRequest)
        {
            messageStyle = "color:red";
            nameExistsError = ($"Name '{nimi.Nimi.ToString()}' allready exists in Database");
        }
        else
        {
            navManager.NavigateTo("namelist");
        }
    }

    protected void Cancel()
    {
        navManager.NavigateTo("namelist");
    }
}
