@page "/namelist"
@using NameApp.Shared
@inject NavigationManager navManager

<h2>Name List</h2>
<br />
<h3>Total Names: @nameCount</h3>

<br />

@if (names == null)
{
    <p><em>Loading...</em></p>
}
else if (filteredNameList != null)
{
    <TableTemplate Items="filteredNameList">
        <TableHeader>
            <Search ColumnTitle="Name" OnSearchTextChanged="OnNameSearchTextChanged"></Search>
            <th>Amount</th>
        </TableHeader>
        <RowTemplate Context="names">
            <td>@names.Nimi</td>
            <td>@names.Amount</td>
        </RowTemplate>
    </TableTemplate>
}
else
{
    <TableTemplate Items="nameList">
        <TableHeader>
            <Search ColumnTitle="Name" OnSearchTextChanged="OnNameSearchTextChanged"></Search>
            <th>Amount</th>
        </TableHeader>
        <RowTemplate Context="names">
            <td>@names.Nimi</td>
            <td>@names.Amount</td>
        </RowTemplate>
    </TableTemplate>
}



